<div class="modal-dialog modal-lg modal-dialog-center">
  <div class="modal-content">
    <div class="modal-header no-border">
      <buttn type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </buttn>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-md-12 col-md-offset-0">
          <%= form_with(model: @user, url: one_month_attendances_approve_one_month_attendances_user_path(@user), local: true) %> 
          <% @one_month_attendances.select(:user_id).distinct.each do |user| %>
            <% user_id = user.user_id %>
            <h4>【<%= User.find(user_id).name %>から1ヶ月分勤怠申請】</h4>
            <table class="table table-bordered table-striped table-hover">
              <thead>
                <tr>
                  <th>月</th>
                  <th>指示者確認㊞</th>
                  <th>変更</th>
                  <th>勤怠を確認する</th>
                </tr>
              </thead>
              <tbody>
                <% @one_month_attendances.where(user_id: user_id).each do |one_month_attendance| %>
                  <tr>
                    <td><%= one_month_attendance.month.month %>月</td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>