/* ユーザー情報テーブル */

.user-table {
  vertical-align: middle;
  text-align: center;
}

.btn-arrow-left {
  margin-right: 20px;
}

.btn-arrow-right {
  margin-left: 20px;
}

// 申請のお知らせボタン

.request-notice a {
  color: black;
}

/* ユーザー情報下ボタン */

.btn-users-show {
  margin-top: 10px;
  margin-bottom: 10px;
}

/* ユーザー勤怠情報テーブル */

#table-attendances {
  margin-top: 20px;
  
  th {
    vertical-align: bottom;
    text-align: center;
  }
  td {
    vertical-align: bottom;
    text-align: center;
  }
}

/* 入力フォーム */

.label-signup {
  margin-top: 5px;
}

.btn-signup {
  margin-top: 10px;
}

.label-user--edit {
  margin-top: 5px;
}

.btn-user--edit {
  margin-top: 10px;
}

/* ユーザー一覧ページ */

#table-users {
  td {
    vertical-align: middle;
  }  
}

.saturday {
  color: blue;
}

.sunday {
  color: red;
}