/* ユーザー情報テーブル */

.user-table {
  vertical-align: middle;
  text-align: center;
}

.btn-arrow-left {
  margin-right: 20px;
}

.btn-arrow-right {
  margin-left: 20px;
}

// 申請のお知らせボタン

.request-notice a {
  color: black;
}

// ファイル選択 & CSVインポート

.select-file {
  position: relative;
  z-index: 2;
}

#filename {
  margin-left: -5px;
  position: relative;
  z-index: 1;
}

/* ユーザー情報下ボタン */

.btn-users-show {
  margin-top: 10px;
  margin-bottom: 10px;
}

/* ユーザー勤怠情報テーブル */

#table-attendances {
  margin-top: 20px;
  
  th {
    vertical-align: bottom;
    text-align: center;
  }
  td {
    vertical-align: bottom;
    text-align: center;
  }
}

/* 入力フォーム */

.label-signup {
  margin-top: 5px;
}

.btn-signup {
  margin-top: 10px;
}

.label-user--edit {
  margin-top: 5px;
}

.btn-user--edit {
  margin-top: 10px;
}

// 土日の色を変更

.saturday {
  color: blue;
}

.sunday {
  color: red;
}

/* ユーザー一覧ページ */

#table-users {
  td {
    border: 0px none;
    vertical-align: middle;
  }  
}

.user-name a {
  color: black;
}

.csv-select {
  display: inline-block;
}

.btn-csv-import {
  margin-top: 15px;
}

.user-delete {
  margin-top: 10px;
  text_align: center;
}

.user-edit {
  background-color: #eee;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
}

.btn-edit {
  padding: 15px 30px;
}